<%- include('../partials/_head') %>
<body>
    <header>
        <%- include('../partials/_nav') %>
    </header>
    <main>
        <%- body %>
    </main>
    <script src="<%= locale %>static/js/main.js"></script>
</body>
</html>