<div class="flex justify-center py-8 md:py-24">
    <div class="container flex justify-center text-cod-gray-950">
        <article class="text-sm md:text-base">
            <%- about %>
        </article>
    </div>
</div>