@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background-image: url('../image/muarambaduk-camping-ground.webp');
}

input:focus, textarea:focus  {
    outline: none;
}

ul {
  list-style-type: disc;
}