<!DOCTYPE html>
<html lang="id" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muarambaduk Camping Ground - <%= title %></title>
    <meta name="description" content="Muara Mbaduk adalah wisata alam yang menyajikan pantai, perbukitan hingga tempat berkemah yang sangat menajubkan">
    <meta name="keywords" content="muarambaduk">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%= locale %>static/css/main.css">
    <link rel="shortcut icon" href="<%= locale %>static/image/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
</head>