<div class="flex justify-center py-8 md:py-24">
    <div class="container flex flex-col justify-center text-cod-gray-950">
        <article class="w-full">
            <img src="<%= news.thumbnail %>" alt="<%= news.title %>" class="w-full h-[400px] mb-10 object-cover object-center">
            <%- news.body %>
        </article>
    </div>
</div>