<div class="flex justify-center py-8 md:py-24">
    <div class="container flex flex-col items-center justify-center text-cod-gray-950">
        <img src="<%= locale %>static/image/muarambaduk-masuk.png" alt="muarambaduk-masuk" class="w-[23rem] lg:w-[28rem]">
        <h2 class="text-[1rem] md:text-[1.1rem] font-semibold text-center mb-8">Harap masuk untuk memesan Tiket atau Paket Camping</h2>
        <div id="btn-google" class="mb-16"></div> 
    </div>
</div>